* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
}

header {
    background-color: red;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.span_with_line {
    display: inline-block;
    font-size: 18px;
    margin-top: 132px;
    position: relative;
}

.span_with_line::before {
    content: " ";
    width: 53px;
    height: 1px;
    position: absolute;
    right: -58px;
    top: 15px;
    background-color: #FA6400;
}

.flexeble {
    display: flex;
    gap: 131px;
    margin-top: 20px;
}

.text_left_side {
    font-size: 80px;
    line-height: 87px;
    font-weight: normal;
}

.text_right_side {
    font-size: 14px;
    margin-top: 40px;
    line-height: 23px;
}

.left_side {
    width: 50%;
}

.right_side {
    width: 40%;
}

#numbers {
    margin-top: 110px;
    display: flex;
}

#number_div {
    font-size: 120px;
    font-weight: 600;
    line-height: 120px;
}

#text_under_number {
    font-size: 14px;
}

#div_numbers_first {
    width: 34%;
    border-right: 1px solid rgb(212, 212, 212);
    height: 472px;
}

#div_numbers_second {
    width: 34%;
    border-right: 1px solid rgb(212, 212, 212);
    margin-top: 120px;
}

#number_div_second {
    font-size: 120px;
    text-align: center;
    font-weight: 600;
    line-height: 120px;
}

#number_div_third {
    font-size: 120px;
    font-weight: 600;
    line-height: 120px;
    text-align: right;
}

#div_numbers_third {
    width: 34%;
    margin-top: 240px;
}

#text_under_number_second {
    display: inline-block;
    margin-left: 115px;
    font-size: 14px;
}

#text_under_number_third {
    font-size: 14px;
    display: inline-block;
    margin-left: 224px;
}

#about_leader_ship {
    display: flex;
    gap: 119px;
}

#name_of_leadership {
    font-size: 64px;
    font-weight: normal;
    margin-top: 46px;
}

#text_leadership {
    font-size: 14px;
    font-weight: 600;
}

.box {
    width: 32%;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

#button_leadership {
    width: 50%;
    height: 50px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: 2px solid black;
    transition: 0.4s;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
}

#button_leadership:hover {
    background-color: white;
    color: black;
}

#background_color {
    background-color: #F9F9F9;
    height: 760px;
}

#text_near_leadership {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2em;
    display: inline-block;
    margin-top: 70px;
}

#border_text {
    margin-left: 70px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

#text_our_leaderships {
    font-size: 64px;
    font-weight: normal;
    margin-top: 100px
}

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    margin-right: 73px;
}

.swiper-slide img {
    display: block;
    width: 110%;
    height: 100%;
    object-fit: cover;
}

.name_of_leaderships {
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin-top: 10px;
    display: inline-block;
}

.name_of_leaderships:hover {
    color: #FA6400;
}

.text_leaderships {
    font-size: 14px;
}

#third_section {
    margin-top: 150px;
    height: 460px;
    background-image: url("https://konstruktion.vamtam.com/wp-content/uploads/2022/10/GettyImages-1313854425.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#third_section::after {
    content: " ";
    width: 100%;
    height: 5px;
    background-color: #FA6400;
    position: absolute;
    bottom: 0;
    left: 0;
}

#black_div {
    padding-top: 110px;
}

.text_black_div {
    color: white;
    display: block;
    font-size: 60px;
    line-height: 65px;
}

.buttons_black_div {
    width: 43%;
    margin-top: 36px;
    display: flex;
    gap: 10px;
}

.link_button {
    width: 47%;
    background-color: #1c1a1a;
    transition: 0.4s;
}

.text_buttons {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    background: no-repeat 0 100%;
    background-image: linear-gradient(white, white);
    background-size: 0% 1px;
    transition: background-size .5s ease;
}

.button_black_div {
    color: white;
    border: none;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    transition: 0.4s;
}

.button_black_div:hover {
    background-color: #FA6400;
}

.text_buttons:hover,
.text_buttons:focus {
    background-size: 100% 1px;
}

footer {
    height: 470px;
}

#boxes_in_footer {
    margin-top: 150px;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    width: 100%;
}

.img_box_in_footer {
    display: block;
}

.box_in_footer {
    width: 49%;
    display: inline-block;
}

#img_in_box_footer {
    height: 91%;
    display: flex;
    align-items: end;
}

.cities {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 6em;
    letter-spacing: 0;
    word-spacing: 0;
}

.span_for_footer_first {
    display: inline-block;
    margin: 0 0 1em;
    font-size: 12px;
    width: 175px;
}

.link_footer_first {
    display: inline-block;
    margin: 0 0 1em;
    font-size: 12px;
    width: 112px;
    color: black;
    transition: .3s;
}

.link_footer_first:hover {
    color: #FA6400;
}

#links_footer {
    display: flex;
    width: 100%;
    gap: 80px;
}

.big {
    width: 75% !important;
}

.link_footer_second {
    width: 45%
}

.end_of_footer {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    line-height: 2em;
    letter-spacing: .5px;
    background-color: #02010100;
    border-style: solid;
    border-width: 0 0 1px;
    border-radius: 0 0 0 0;
    padding: 0 100px 12px 0;
    border-color: #CCCCCC;
    transition: .3s;
    background: no-repeat 0 100%;
    background-image: linear-gradient(white, white);
    background-size: 0% 1px;
    transition: background-size .5s ease;
}

.end_of_footer:hover,
.end_of_footer a:hover {
    color: #FA6400;
    border-color: #FA6400;
}

.link {
    display: inline-block;
    color: black;
    height: 40px;
    width: 30%;
    transition: .3s;
}

#additional_links {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.second {
    display: flex;
    gap: 40px;
}

.third {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.column_boxes {
    width: 40%;
    margin-left: 60px;
}

.column_link {
    margin-top: 100px;
    width: 50%;
    display: flex;
    gap: 40px;
}

#additional_links span {
    font-size: 12px;
    background: no-repeat 0 100%;
    background-image: linear-gradient(#FA6400, #FA6400);
    background-size: 0% 2px;
    transition: background-size .5s ease;
}

#additional_links span:hover,
#additional_links span:focus {
    background-size: 100% 1px;
    color: #FA6400;
}

.inline {
    display: inline-block;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 2565px;
}

@media screen and (max-width:1280px) {
    .container {
        max-width: 1000px;
    }
    #text_under_number_second {
        margin-left: 70px;
    }
    #text_under_number_third {
        margin-left: 130px;
    }
    #about_leader_ship {
        gap: 45px;
    }
}

@media screen and (max-width:1000px) {
    .big {
        width: 50% !important;
    }
    .link_footer_second {
        width: 31%;
    }
    .end_of_footer {
        padding: 0 85px 12px 0;
    }
    .third {
        width: 216px;
    }
    #boxes_in_footer {
        display: block;
    }
    .box_in_footer {
        display: inline-block;
        width: 49%;
    }
    #third_section {
        height: 340px;
    }
    .column_boxes {
        width: 49%;
        display: inline-block;
        margin-left: 0px;
    }
    .abouts_h {
        font-size: 25px;
    }
    #h_news {
        font-size: 45px;
    }
    #about_news {
        flex-direction: column;
    }
    .buttons_black_div {
        width: 70%;
    }
    .text_black_div {
        font-size: 34px;
    }
    .container {
        max-width: 768px;
    }
    .buttons_black_div {
        margin-top: 3px;
    }
    .flexeble {
        gap: 0px;
        flex-direction: column;
    }
    .text_left_side {
        font-size: 42px;
        line-height: 47px;
    }
    .left_side {
        width: 100%;
    }
    .right_side {
        width: 100%;
    }
    .text_right_side {
        font-size: 14px;
        margin-top: 0px;
        line-height: 23px;
    }
    #number_div_second {
        font-size: 60px;
        margin-right: 50px;
        line-height: 62px;
    }
    #number_div {
        font-size: 60px;
        line-height: 62px;
    }
    #number_div_third {
        font-size: 60px;
        line-height: 62px;
    }
    #text_under_number_second {
        margin-left: 50px;
        font-size: 14px;
    }
    #text_under_number_third {
        margin-left: 156px;
    }
    #div_numbers_first {
        height: 409px;
    }
    #name_of_leadership {
        font-size: 32px;
        margin-top: 23px;
    }
    #button_leadership {
        width: 65%;
    }
    #about_leader_ship {
        gap: 10px;
    }
    #text_near_leadership {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2em;
        display: inline-block;
        margin-top: 30px;
    }
    .box {
        width: 34%;
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }
    #background_color {
        height: 550px;
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 2000px;
    }
    #text_our_leaderships {
        font-size: 32px;
        line-height: 76px;
    }
    .swiper {
        width: 100%;
        height: 100%;
        margin-top: 25px;
    }
}

@media screen and (max-width:768px) {
    .column_link {
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
    }
    #additional_links {
        flex-direction: column-reverse;
    }
    #links_footer {
        height: 250px;
    }
    #additional_links {
        margin-top: 0px;
    }
    .box_in_footer {
        width: 50%;
    }
    .end_of_footer {
        padding: 0 65px 9px 0;
    }
    .link_footer_second {
        width: 60%;
    }
    .link_button {
        width: 100%;
    }
    .boxes {
        width: 100%;
        margin-top: 20px;
    }
    .buttons_black_div {
        width: 100%;
        gap: 5px;
    }
    .button_black_div {
        font-size: 12px;
    }
    .container {
        max-width: 500px;
    }
    .abouts {
        margin-top: 5px;
    }
    #numbers {
        margin-top: 110px;
        display: flex;
        flex-direction: column;
    }
    #text_under_number_second {
        text-align: left;
        margin-left: 0px;
        font-size: 14px;
    }
    #text_under_number_third {
        margin-left: 0px;
        text-align: left;
    }
    #div_numbers_first {
        height: 109px;
        width: 100%;
        border-right: 0px solid rgb(212, 212, 212);
        border-bottom: 1px solid rgb(212, 212, 212);
    }
    #number_div_third {
        font-size: 60px;
        line-height: 62px;
        text-align: left;
    }
    #div_numbers_second {
        width: 100%;
        height: 109px;
        border-right: 0px solid rgb(212, 212, 212);
        border-bottom: 1px solid rgb(212, 212, 212);
        margin-top: 20px;
    }
    #number_div_second {
        font-size: 60px;
        margin-right: 0px;
        text-align: left;
        line-height: 62px;
    }
    #div_numbers_third {
        width: 100%;
        border-bottom: 1px solid rgb(212, 212, 212);
        height: 105px;
        margin-top: 20px;
    }
    #numbers_section {
        height: 440px;
    }
    #about_leader_ship {
        flex-direction: column;
    }
    #background_color {
        height: 1100px;
    }
    .box {
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
    }
    #button_leadership {
        width: 31%;
    }
    #text_near_leadership {
        font-size: 22px;
        font-weight: 400;
        margin-top: 0px;
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 2500px;
    }
    #border_text {
        margin-left: 0px;
        border-bottom: 1px solid rgb(212, 212, 212);
    }
    #text_our_leaderships {
        font-size: 33px;
        line-height: 66px;
        margin-top: 30px;
    }
}

@media screen and (max-width:500px) {
    .box_in_footer {
        width: 100%;
    }
    .span_for_footer_first {
        width: 142px;
    }
    .cities {
        line-height: 3em;
    }
    .end_of_footer {
        font-size: 16px;
    }
    #links_footer {
        display: flex;
        width: 100%;
        gap: 20px;
    }
    .link_footer_second {
        width: 100%;
    }
    .margin {
        margin-bottom: 18px;
    }
    .text_black_div {
        font-size: 40px;
    }
    .link_button {
        width: 90%;
    }
    #third_section {
        height: 420px;
    }
    .buttons_black_div {
        flex-direction: column;
        width: 100%;
    }
    .container {
        max-width: 300px;
    }
    .abouts {
        margin-top: 5px;
    }
    .abouts_h {
        font-size: 23px;
    }
    #button_leadership {
        width: 50%;
    }
}